package pages

import (
	"github.com/grantjayy/htmx-golang-tailwind-todos/internal/domain"
	"github.com/grantjayy/htmx-golang-tailwind-todos/internal/templates/partials"
	"github.com/grantjayy/htmx-golang-tailwind-todos/internal/templates/shared"
)

templ TodoPage(todo *domain.Todo) {
	@shared.Page("Todo") {
		@partials.EditTodoForm(todo)
	}
}

